<html ng-app='mochiApp'>
  <head>
    <script src="/node_modules/angular/angular.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <title>Mochi.io!</title>
  </head>
  <body>
      <h1>Mochi<span style='color: #fff'>.</span>io</h1>
      <div ng-controller='tickerUpdate'>
      <h2>Get Stock Data</h2>
      <div class='tickerLookup' ng-show='lookup'>
      <h3>{{lookup.Name}}</h3>
        <span style="font-weight:bold">ticker:</span> {{lookup.Symbol}} <br>
        <span style="font-weight:bold">exchange:</span> {{lookup.Exchange}}
      </div>
      <form name='stckLookup' ng-submit='getLookup()'>
        <input name='company' placeholder='Enter company name'ng-model='searchLook'/>
        <button type='submit' value='sub'>Search</button>
      </form>
      <table style='display:block;'>
      <h3>{{quote.Name}}</h3>
        <thead>
        <span style="font-weight:bold">
          <tr>
            <th>Last Price</th>
            <th>Change</th>
            <th>Change Percent</th>
            <th>Change Percent YTD</th>
            <th>Last Traded</th>
          </tr>
        </thead>
        </span>
        <tbody>
          <tr>
            <td>{{quote.LastPrice}}</td>
            <td>{{quote.Change}}</td>
            <td>{{quote.ChangePercent}}</td>
            <td>{{quote.ChangePercentYTD}}</td>
            <td>{{quote.Timestamp}}</td>
          </tr>
        </tbody>
      </table>
      <br>
      <form name='stckQuote' ng-submit='getQuote()'>
        <input name='company' placeholder='Enter ticker name' ng-model='searchQuote'/>
        <button type='submit' value='sub'>Search</button>
      </form>
    </div>
    <div ng-controller='trackTrades'>
      <h2>Log Trades</h2>
      <table style='display:block;'>
      <h3>{{tempName}}</h3>
        <span style="font-weight:bold">
        <thead>
          <tr>
            <th>Trade Date</th>
            <th>Trade Buy Price</th>
            <th>Trade Sale Price</th>
            <th>Shares Bought</th>
            <th>Ticker Symbol</th>
            <th>Company Name</th>
            <th>Total Profit/Loss</th>
          </tr>
        </thead>
        </span>
        <tbody>
          <tr ng-repeat='t in data track by $index' ng-click="remove(item)">
            <td>{{t.date | date: 'shortDate'}}</td>
            <td>{{t.buyPrice | currency: '$'}}</td>
            <td>{{t.salePrice | currency: '$'}}</td>
            <td>{{t.sharesAmt}}</td>
            <td>{{t.tickerSymbol}}</td>
            <td>{{t.companyName}}</td>
            <td>{{t.profitLoss | currency: '$'}}</td>
          </tr>
        </tbody>
      </table>
      <br>
      <form name='logTrades' ng-submit='getTrade(); clearForm()'>
        <input name='tradeDt' placeholder='Enter trade date' ng-model='date'/>
        <input name='tradeByPr' placeholder='Enter trades Buy price' ng-model='buyPrice'/>
        <input name='tradeSlePr' placeholder='Enter trades Sale date' ng-model='salePrice'/>
        <input name='tradeShares' placeholder='Enter amount of Shares' ng-model='tradeShares'/>
        <input name='tradeTckrSym' placeholder='Enter Company ticker' ng-model='tickerSymbol'/>
        <input name='tradeCompNm' placeholder='Enter Company name' ng-model='companyName'/>
        <input name='tradeProfLos' placeholder='Enter share profit/loss' ng-model='profitLoss'/>
        <button type='submit' value='sub'>Submit</button>
      </form>
    </div>
  </body>
</html>