/*https://css-tricks.com/complete-guide-table-element/*/
body {
  margin: 0;
  /*margin-top: 10px;*/
  font-family: 'Bevan', arial, sans-serif;
  background-color: #263249;
  /*color: #eee;*/
  color: #fff;
  /*margin-left: 10px;*/
  text-align: center;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

h1 {
  font-style: italic;
  font-size: 40px;
  margin-bottom: 5px;
  margin-top: 10px;
  font-family: verdana, arial, sans-serif;
  color: #ff522a;
}

h4 {
  font-family: verdana, arial, sans-serif;
}

table {
  border-collapse: collapse;
  margin: 0 auto 0 auto;
}

td, th {
  border: 1px solid #1a1a1a;
  padding: 0.5rem;
  text-align: left;
}